PLAYLIST_URL= # youtube playlist: https://www.youtube.com/playlist?list=W82098....
DB_PATH= # path to db file (e.g. youtube.duckdb)
CHUNK_SIZE= # number of videos to process in each chunk (e.g. 50)
SLEEP_PER_VIDEO= # time to sleep between videos (e.g. 5)
SLEEP_BETWEEN_CHUNKS= # time to sleep between chunks (e.g. 20)
